@font-face {
  font-family: Pixeled;
  src: url("fonts/Pixeled.ttf");
}
html,body{
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}
.bg-promesas{
background: linear-gradient(180deg,#504845 10%, rgba(0,0,0, 9) 50%);
background-repeat: no-repeat;}

.logo-convoca{height: 39px; width: auto;}

.promesas-presidenciales {position: relative;}
.promesas-presidenciales .col,
.promesas-presidenciales .titulo{position: relative;}
.promesas-presidenciales .titulo h1,
.promesas-presidenciales .titulo h2{
font-family: Pixeled;
font-style: normal;
font-weight: normal;
font-size: 1.80em;
line-height: 44px;
/* or 143% */
color: #FFFFFF;
text-shadow: #504845 -2px 3px 0px, #00A99D -3px 4px 0px;
color: #fff;
background: transparent;
}

.topRedesSociales a, .topRedesSociales a:hover{ text-decoration: none;}
.magicText{font-size: 0%; display: none;}

.promesas-presidenciales .nombre-presidente{
  text-shadow: 3px 3px 0px #00A99D, -3px 3px 0px #00A99D, 3px -3px 0px #00A99D, -3px -3px 0px #00A99D;
color: #E5F6F5;
}
.promesas-presidenciales .nombre-presidente img{
  height: 54px; width: auto;
}
.promesas-presidenciales .foto-presidente{
  margin-top: -20px;
}
.promesas-presidenciales .boton-presidente {
  position: absolute;
  bottom: 20px;
}
.promesas-presidenciales .boton-presidente .boton{
  margin-bottom: 10px;
  text-transform: uppercase;
  min-width: 308px;
  background-color:rgba(0, 0, 0, 0.7);
}
.promesas-presidenciales .boton-presidente .boton:hover{
  background-color:rgba(255,255,255, 0.9);
}

footer.border-light{
  border-color: #808080 !important;
}
footer .logo-footer{
  height: 45px; width: auto;
}
footer .factChecking{
  font-size: 0.48em;
}

#btnConoceMetodologia .areaVerde{
  background-color: #00A99D;
  border-radius: 170px 170px 0 0;
  min-width: 250px;
  width: 300px;
  min-height: 44px;
}
#btnConoceMetodologia .areaVerde h2{
  font-size: 1.07em;
}
#btnConoceMetodologia .areaVerde a{
  text-decoration: none;
  color: #fff;
}
@media (min-width: 768px) {
  .promesas-presidenciales .titulo h1{
    font-size: 2.8em;
    line-height: 1.8em;
  }
  .promesas-presidenciales .boton-presidente .boton {
    min-width: 208px;
    font-size:0.75em;
    margin-bottom: 6px;
  }
  footer .container{
    max-width: 100%;
  }
  footer .logo-footer {
    height: 40px;}
  footer .icono-rrss{
    height: 22px;;
  }
}
@media (min-width: 992px) {
  .promesas-presidenciales .titulo h1{
    font-size: 3.6em;
    line-height: 2.1em;
  }
  .promesas-presidenciales .boton-presidente .boton {
    min-width: 308px;
    font-size:1em;
    margin-bottom: 10px;
  }
}
@media (min-width: 1400px) {
  footer .container{
    max-width: 1320px;
  }
}