@font-face {
  font-family: Pixeled;
  src: url("fonts/Pixeled.ttf");
}
html,body{
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}
.bg-promesas{
background: linear-gradient(180deg,#504845 10%, rgba(0,0,0, 9) 50%);
background-repeat: no-repeat;}

.logo-convoca{height: 39px; width: auto;}

.promesas-presidenciales {position: relative;}
.promesas-presidenciales .col,
.promesas-presidenciales .titulo{position: relative;}
.promesas-presidenciales .titulo h1,
.promesas-presidenciales .titulo h2{
font-family: Pixeled;
font-style: normal;
font-weight: normal;
font-size: 1.80em;
line-height: 44px;
/* or 143% */
color: #FFFFFF;
text-shadow: #504845 -2px 3px 0px, #00A99D -3px 4px 0px;
color: #fff;
background: transparent;
}

.topRedesSociales a, .topRedesSociales a:hover{ text-decoration: none;}
.magicText{font-size: 0%; display: none;}

.promesas-presidenciales .nombre-presidente{
  text-shadow: 3px 3px 0px #00A99D, -3px 3px 0px #00A99D, 3px -3px 0px #00A99D, -3px -3px 0px #00A99D;
color: #E5F6F5;
}
.promesas-presidenciales .nombre-presidente img{
  height: 54px; width: auto;
}
.promesas-presidenciales .foto-presidente{
  margin-top: -20px;
}

/*
  Rollover Image
*/
.promesas-presidenciales .foto-presidente {
    position: relative;
    max-width: 100%;
}
.promesas-presidenciales .foto-presidente img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}
.promesas-presidenciales .foto-presidente:hover img.image-hover,
.foto-presidente:hover .boton-presidente .boton:hover img.image-hover{
  opacity: 1;
}
.promesas-presidenciales .boton-presidente {
  position: absolute;
  bottom: 80px;
}
.promesas-presidenciales .boton-presidente .boton{
  margin-bottom: 10px;
  text-transform: uppercase;
  min-width: 308px;
  background-color:rgba(0, 0, 0, 0.7);
}
.promesas-presidenciales .boton-presidente .boton:hover{
  background-color:rgba(255,255,255, 0.9);
}

/*conoce metodologia*/
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  top: 30%;
  overflow: hidden;
  background-color: #fff; color: #000;
  transition: all 0.3s;
}
.slider.close {
  top: 100%;
  height: 0;
}
#metodologia .slider h2,
.modal-body h2{
  color: #00A99D;
  text-transform: uppercase;
  font-weight: 600;
}

#promesas h3,
#promesas2 h3,
#promesas3 h3{
  font-size: 20px;
  font-weight: 700;
}
#promesas .icono,
#promesas2 .icono,
#promesas3 .icono{
  max-width: 140px;
  margin: 0 auto;
  position: absolute;
  top:-70px;
  left:30%
}
#promesas3 .icono{
  top:-70px;
  left:40%
}
.rounded-25{
  border-radius: 25px;;
}


footer.border-light{
  border-color: #808080 !important;
}
footer .logo-footer{
  height: 45px; width: auto;
}
footer .factChecking{
  font-size: 0.48em;
}

#btnConoceMetodologia .areaVerde{
  background-color: #00A99D;
  border-radius: 160px 160px 0 0;
  min-width: 250px;
  width: 300px;
  min-height: 44px;
  margin: 0 auto;
  cursor: pointer;
}
#btnConoceMetodologia .areaVerde h2{
  font-size: 1.07em;
}
#btnConoceMetodologia .areaVerde a{
  text-decoration: none;
  color: #fff;
}
@media (min-width: 768px) {
  .promesas-presidenciales .titulo h1{
    font-size: 2.8em;
    line-height: 1.8em;
  }
  .promesas-presidenciales .boton-presidente .boton {
    min-width: 208px;
    font-size:0.75em;
    margin-bottom: 6px;
  }
  footer .container{
    max-width: 100%;
  }
  footer .logo-footer {
    height: 40px;}
  footer .icono-rrss{
    height: 22px;;
  }
}
@media (min-width: 992px) {
  .promesas-presidenciales .titulo h1{
    font-size: 3.6em;
    line-height: 2.1em;
  }
  .promesas-presidenciales .boton-presidente .boton {
    min-width: 308px;
    font-size:1em;
    margin-bottom: 10px;
  }
}
@media (min-width: 1400px) {
  footer .container{
    max-width: 1320px;
  }
}